name: cicd

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    # caching
    - name: Cache .cargo
      uses: actions/cache@v1
      with:
        path: |
          ~/.cargo
          target
        key: ${{ runner.os }}-cargo-all-${{ github.ref }}
        restore-keys: |
          ${{ runner.os }}-cargo-all-refs/heads/master
          ${{ runner.os }}-cargo-all-
    - name: test
      run: ./scripts/test.sh
